Button {
  background-color: #ef5b4c;
  color: #fff;
  width: 210px;
  height: 37px;
  border-radius: 5px;
  opacity: 0.95;
  margin-left: 30px;
  font-size: 16px;
  border: none;
  align-content: center;
  font-weight: 600;


}
Button:focus{
  outline: none;

}
Button:disabled{
  background-color: #f9f9f3;
}
Button:hover{
  opacity: 1;
  cursor: pointer;
}