@mixin mobile{
  @media (max-width: 767px) {
    .container{
      min-width: 360px;
      padding: 15px;
    }
    @content
  }
}
@mixin tablet{
  @media (min-width: 768px) {
    .container{
      max-width: 768px;
      margin: 0 auto;
    }
    @content
  }
}
@mixin desktop{
  @media (min-width: 1024px) {
    .container{
      max-width: 1024px;
      margin: 0 auto;
    }
    @content
  }
}


h1{
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
}
h2{
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
body,p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
@include tablet {
  h1{
    font-size: 40px;
    line-height: 44px;
    font-weight: 400;
  }
}
@include desktop{
  h1 {
    font-size: 50px;
    line-height: 54px;
    font-weight: 400;
  }
}
