@import "src/custom.scss";


.header__body {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  height: 40px;
  .logo {
    padding-top: 20px;
    padding-left: 30px;
    .img {
      display: inline;
    }
  }
  li {
    list-style: none;
    display: inline-block;
  }
}
@media (max-width: 1023px) {
  .header__body {
    height: 40px;
    .logo{
      padding-top: 10px;
      padding-left: 15px;
    }
    .burger__menu {
      position: relative;
      top: 15px;
      width: 20px;
      height: 15px;
      background-color: #fff;
    }
    .burger__menu:before,.burger__menu:after{
      content: '';
      background-color: #1b4a8a;
      position: absolute;
      width: 100%;
      height: 3px;

    }
    .burger__menu span{
      position: absolute;
      width: 100%;
      background-color: #1b4a8a;
      height: 3px;
      top:6px;
    }
    .burger__menu:before{
      top: 0;
    }
    .burger__menu:after{
        bottom: 0;
    }
  }
}
@include tablet{
  .header__body{
    height: 60px;
  }
}
@include desktop{
  .header__body {
    height: 60px;
  }

  .header__menu {
    .menu__item {
      padding-top: 18px;
      margin-right: 29px;
    }
  }


}






